@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Forum', cursive;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #fff; 
}

a:active {
    text-decoration: none;
    color: #333333; 
}

a:visited {
    color: #000;
}

.logo {
    position: absolute;
    margin: 3vh 2vw;
    height: 64px; 
    width: 64px;
}

/* NAV BAR */
nav {
    width: 100%;
    height: 12vh;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
    list-style: none;
    font-weight: 300;
}

/* HAMBURGER NAVIGATION */
nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 10px -20px 5px 0;
    cursor: pointer;
    margin-left: 25px;
    margin-bottom: 15px;
    z-index: 60;
}

nav .navbar-toggler .bar { 
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    background: #404040;
    border-radius: 100px;
    transition: 0.4s;
}

input {
    display: none;
}

input:checked ~ nav ul {
    transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
}

@media (max-width: 675px) {
    nav ul {
        display: grid;
        justify-content: right;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transform: translateY(-100%); 
        z-index: 50;
        transition: .6s; 
        gap: 10px;
    }

    nav ul li {
        padding-left: 35px;
    }

    nav .navbar-toggler {
        display: grid !important; 
        z-index: 60;
    }

    .logo {
        margin: 3vh 45vw;
    }
}


/* MAIN CSS */
body {
    background: #e0d1cb;
    background-image: linear-gradient( rgba(27,50,112,0), #e0d1cb), url(images/cloud-sky-twilight-time.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.pageTitle {
    width: auto;
    height: 175px;
    display: grid;
    place-items: center;
}

.pageTitle h1 {
    font-size: 60px;
    font-weight: 300;
    margin-top: 90px;
    text-align: center;
}

.contact-info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-info-container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 25px 25px;
    width: 75%;
    padding-top: 75px;
    margin-bottom: 5%;
}

.contact-info {
    display: grid;
    place-items: center;
    background: rgba(201, 201, 201, 0.3);
    width: 530px;
    height: 300px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    overflow: hidden;
}

.info-text {
    text-align: center;
    line-height: 38px;
    margin-bottom: 25px;
}

.info-text.address {
    margin-bottom: 50px;
}

.info-text p {
    font-family: 'Manrope';
}

.info-text h3 {
    font-size: 42.5px;
    font-weight: 300;
}

.info-text h2 {
    font-size: 25px;
    font-weight: 300;
}